<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">

      <ion-menu-button autoHide="true"></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Ionic FireTodos
    </ion-title>
  </ion-toolbar>
</ion-header>



<ion-content class="bg-blue">
  <ion-list>
    <ng-container *ngIf="!todos || todos.length == 0">
      <div *ngFor="let n of [0,1,2]" padding>
        <ion-skeleton-text></ion-skeleton-text>
        <p>
          <ion-skeleton-text class="fake-skeleton"></ion-skeleton-text>
        </p>
      </div>
    </ng-container>

    <ion-item-sliding *ngFor="let item of todos">
      <ion-item lines="inset" button [routerLink]="['/details', item.id]">
        <ion-label>
          {{ item.task }}
          <p>{{ item.createdAt | date:'short' }}</p>
        </ion-label>
        <ion-note slot="end" color="primary">{{ item.priority }}</ion-note>
      </ion-item>

      <ion-item-options side="end">
        <ion-item-option (click)="remove(item)" color="secondary">
          Delete
          <ion-icon name="checkmark" slot="end"></ion-icon>
        </ion-item-option>
      </ion-item-options>
    </ion-item-sliding>

  </ion-list>




  <ion-fab vertical="top" horizontal="end" edge slot="fixed">
    <ion-fab-button routerLink="/details" routerDirection="forward">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button>
      <ion-icon name="settings"></ion-icon>
    </ion-fab-button>

    <ion-fab-list side="top">

      <ion-fab-button class="btn-theme" (click)="changeTheme(null)">
        Default
      </ion-fab-button>

      <ion-fab-button class="btn-theme" (click)="changeTheme('autumn')">
        Autumn
      </ion-fab-button>

      <ion-fab-button class="btn-theme" (click)="changeTheme('night')">
        Dark
      </ion-fab-button>

      <ion-fab-button class="btn-theme" (click)="changeTheme('neon')">
        Neon
      </ion-fab-button>

    </ion-fab-list>

  </ion-fab>




  <ion-card *ngIf="showRemoteConfig">
    <ion-item>
      <ion-icon name="cloud-upload" slot="start"></ion-icon>
      <ion-label>Your version of the application is {{programVersion || '0.0.0'}}</ion-label>
      <ion-button [disabled]="programNewVersion == programVersion" fill="outline" slot="end" (click)="updateVersion()">Update</ion-button>
    </ion-item>

    <ion-card-content>
      <span>Premium account :</span> No
      <br />
      <span>Version: </span>{{programVersion}}

      <h3>New version: {{programNewVersion}}</h3>
    </ion-card-content>
  </ion-card>

  <ion-button (click)="remoteCnfig()">{{showRemoteConfig? 'Hide': 'Show'}} setting</ion-button>




</ion-content>